Repository caromagni/tareasBack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, configs-k8s-main

Path conditions:
  build-image: any of: app/**/*, Dockerfile*, requirements.txt
  configs-k8s-main: any of: customization/**/*, manifests/config/**/*, .gitlab-ci.yml

build
  .gitlab-ci.yml
Due: configs-k8s-main

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: configs-k8s-main

build
  app/blueprints/groups.py
Due: build-image

forcebuild | runner change
  app/common/auditoria.py
Due: build-image

1
  .gitlab-ci.yml
Due: configs-k8s-main

cors
  app/main.py
Due: build-image

get_tarea
  app/blueprints/tarea.py
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

model
  app/blueprints/usuario.py
  app/models/alch_model.py
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

id_ext
  app/models/tarea_model.py
Due: build-image

fix
  app/_build/doctrees/environment.pickle
  app/blueprints/nota.py
  app/blueprints/usuario.py
Due: build-image

released restrictions for testing
  app/_build/doctrees/environment.pickle
  app/blueprints/actuacion.py
  app/blueprints/expediente.py
Due: build-image

superAdmin
  app/blueprints/label.py
  app/decorators/role.py
  app/models/label_model.py
  uwsgi.dev-localhost.ini
Due: build-image

ci
  .gitlab-ci.yml
  app/blueprints/nota.py
  app/models/tarea_model.py
Due: build-image, configs-k8s-main

disable acche
  app/main.py
Due: build-image

URL EP
  app/_build/doctrees/environment.pickle
  app/_build/html/searchindex.js
  app/blueprints/URL.py
  app/main.py
  app/schemas/schemas.py
  customization/stage.env.enc
  uwsgi.dev-localhost.ini
Due: build-image, configs-k8s-main

sync-organismo-dominio
  app/common/rabbitmq_utils.py
  app/common/sync.py
  app/models/alch_model.py
Due: build-image

rabbit
  app/main.py
Due: build-image

usher
  app/common/usher.py
Due: build-image

port
  uwsgi.dev-localhost.ini
Due: none

main
  app/main.py
Due: build-image

prints
  app/_build/doctrees/environment.pickle
  app/common/cache.py
  app/common/usher.py
Due: build-image

disable_cache
  app/main.py
Due: build-image

modelo
  app/models/alch_model.py
Due: build-image

cache
  app/common/cache.py
Due: build-image

roles-usr
  app/common/usher.py
  app/models/alch_model.py
Due: build-image

codeowners
  app/CODEOWNERS
Due: build-image

removed_codeowners_because_gitlab_wants_30bucks
  app/CODEOWNERS
Due: build-image

logs
  app/blueprints/endpoint_json.py
  app/common/usher.py
  app/main.py
  app/models/ep_model_json.py
  uwsgi.dev-localhost.ini
Due: build-image

Edit role.py
  app/decorators/role.py
Due: build-image

forcebuild
  README.md
  app/models/tarea_model.py
  customization/production.env.enc
  uwsgi-production.ini
Due: build-image, configs-k8s-main

forceim
  Dockerfile
Due: build-image

added live k8s probes
  app/main.py
Due: build-image

pool_Size_to_1
  Dockerfile
  app/config/config.py
  app/main.py
  customization/production.env.enc
Due: build-image, configs-k8s-main

2
  app/main.py
Due: build-image
