Repository caromagni/tareasBack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, configs-k8s-main

build-image:
  stage: build-image
  image: docker:latest
  services:
  - name: docker:19.03.12-dind
    command:
    - --mtu=1300
  before_script:
  - mkdir -p vars
  - DOCKERFILE=./Dockerfile;
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  ...

configs-k8s-main:
  image: alpine:3.7
  stage: deploy
  before_script:
  - apk update  && apk add --no-cache curl grep gnupg wget
  ...

merge
  uwsgi.dev-localhost.ini
Due: none

deleteLabels
  app/blueprints/label.py
  app/models/label_model.py
Due: build-image

fixed issues
  app/blueprints/usuario.py
  app/common/usher.py
  app/database_setup.py
  app/decorators/role.py
  app/models/usuario_model.py
Due: build-image

cors
  app/main.py
Due: build-image

fix
  app/models/label_model.py
Due: build-image

pipe
  .gitlab-ci.yml
  app/main.py
Due: build-image, configs-k8s-main

forcebuild
  Dockerfile
  customization/stage.env.enc
Due: build-image, configs-k8s-main

changes
  app/_build/doctrees/environment.pickle
  app/_build/doctrees/modulos/bandeja_principal.doctree
  app/_build/doctrees/modulos/grupos.doctree
  app/_build/html/_sources/modulos/grupos.rst.txt
  app/_build/html/index.html
  app/_build/html/modulos/grupos.html
  app/_build/html/searchindex.js
Due: build-image

forceupdatemodules
  customization/stage.env.enc
Due: configs-k8s-main

forceupdatemodules
  Dockerfile
Due: build-image

tareas tipo
  app/_build/doctrees/environment.pickle
  app/_build/doctrees/modulos/grupos.doctree
  app/_build/html/_sources/modulos/grupos.rst.txt
  app/_build/html/index.html
  app/_build/html/modulos/grupos.html
  app/_build/html/searchindex.js
  app/sphinx/modulos/tareas_tipo_subtipo.rst
Due: build-image

forceupdatemodules
  Dockerfile
  app/logs/app.log.2025-07-29
  customization/stage.env.enc
Due: build-image, configs-k8s-main

fix
  customization/cm_stage.env
Due: configs-k8s-main

fix
  Dockerfile
  customization/cm_stage.env
Due: build-image, configs-k8s-main

grupo-organismo
  app/blueprints/groups.py
  app/common/logger_config.py
  app/common/usher.py
  app/models/tarea_model.py
Due: build-image

grupo-organismo
  app/models/grupo_model.py
  app/schemas/schemas.py
Due: build-image

url_tarea
  app/models/alch_model.py
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

url-desc
  app/models/tarea_model.py
Due: build-image

fix-insert-tarea
  app/models/tarea_model.py
Due: build-image

fix-tarea
  app/models/tarea_model.py
Due: build-image

domain_ep
  app/blueprints/dominio.py
  app/logs/app.log.2025-07-30
  app/main.py
  app/models/dominio_model.py
  app/schemas/schemas.py
  uwsgi.dev-localhost.ini
Due: build-image

domain
  app/main.py
Due: build-image

dominio
  app/blueprints/groups.py
  app/models/grupo_model.py
  app/schemas/schemas.py
Due: build-image

editable_externo
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

organismo_bp
  app/blueprints/groups.py
  app/blueprints/organismo.py
  app/main.py
  app/models/grupo_model.py
  app/models/organismo_model.py
  app/schemas/schemas.py
Due: build-image

grupo-dominio
  app/blueprints/endpoint.py
  app/database_setup.py
  app/models/grupo_model.py
  app/schemas/schemas.py
Due: build-image

sync
  app/common/sync.py
  app/models/alch_model.py
Due: build-image

prod
  customization/cm_production.env
  customization/production.env.enc
Due: configs-k8s-main

organismo_dominio
  app/blueprints/nota.py
  app/blueprints/tarea.py
  app/common/auth.py
  app/common/sync.py
  app/database_setup.py
  app/models/alch_model.py
  app/models/dominio_model.py
  app/models/nota_model.py
  app/models/organismo_model.py
  app/models/tarea_model.py
  app/schemas/schemas.py
  uwsgi.dev-localhost.ini
Due: build-image

tipo_tarea_dominio
  app/models/alch_model.py
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

tipo_tarea_dominio
  app/blueprints/tarea.py
  app/common/sync.py
  app/decorators/role.py
  app/models/alch_model.py
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

tipo-tarea-dominio
  app/models/alch_model.py
  app/models/tarea_model.py
Due: build-image

patch_tipo_tarea
  app/models/tarea_model.py
Due: build-image

val-uuid
  app/common/functions.py
  app/models/tarea_model.py
Due: build-image

logs
  app/decorators/role.py
Due: build-image

Path conditions:
  build-image: any of: app/**/*, Dockerfile*, requirements.txt
  configs-k8s-main: any of: customization/**/*, manifests/config/**/*, .gitlab-ci.yml
