Repository caromagni/tareasBack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, configs-k8s-main

Path conditions:
  build-image: any of: app/**/*, Dockerfile*, requirements.txt
  configs-k8s-main: any of: customization/**/*, manifests/config/**/*, .gitlab-ci.yml

fix
  customization/cm_production.env
Due: configs-k8s-main

verify-uuid
  app/blueprints/groups.py
  app/blueprints/nota.py
  app/blueprints/usuario.py
  app/decorators/role.py
  app/decorators/verify.py
  app/json/api_keys.json
  app/models/alch_model.py
  app/models/grupo_model.py
  app/models/label_model.py
  app/models/tarea_model.py
  app/schemas/schemas.py
Due: build-image

changes Tipo de Tarea y Tarea
  app/sphinx/modulos/tareas_tipo_subtipo.rst
Due: build-image

changes
  .gitignore
  Dockerfile
Due: build-image

forcebuild
  Dockerfile
Due: build-image

update
  Dockerfile
  customization/stage.env.enc
Due: build-image, configs-k8s-main

update
  customization/cm_stage.env
  customization/stage.env.enc
Due: configs-k8s-main

fix CORS bug
  app/blueprints/URL.py
  app/blueprints/actuacion.py
  app/blueprints/alerta.py
  app/blueprints/dominio.py
  app/blueprints/endpoint.py
  app/blueprints/expediente.py
  app/blueprints/groups.py
  app/blueprints/herarquia.py
  app/blueprints/label.py
  app/blueprints/nota.py
  app/blueprints/organismo.py
  app/blueprints/tarea.py
  app/blueprints/usuario.py
  app/cu_ep/cu.py
Due: build-image

lowered replicas in prod to debug load balancin issue with dead workers and low conn number to db
  manifests/deploy/overlays/production/deployment.yaml
Due: none

lowered replicas in prod to debug load balancin issue with dead workers and low conn number to db forcebuild
  app/main.py
Due: build-image

replicas
  manifests/deploy/overlays/production/deployment.yaml
Due: none

assemblying
  app/blueprints/full_sync.py
  app/common/full_sync.py
  app/common/sync.py
  app/main.py
  test_full_sync.py
Due: build-image

sync
  app/blueprints/full_sync.py
  app/common/sync.py
  app/controller/full_sync.py
  app/tipos_data.json
  test_full_sync.py
Due: build-image

almost working
  app/controller/full_sync.py
  app/database_setup.py
Due: build-image

fechas
  app/models/tarea_model.py
Due: build-image

database_setup_organismo
  app/database_setup.py
Due: build-image

database_setup
  app/database_setup.py
Due: build-image

database-setup-usrs
  app/database_setup.py
Due: build-image

tipo_tarea
  app/blueprints/tarea.py
  app/common/sync.py
  app/models/alch_model.py
  app/models/tarea_model.py
Due: build-image

tipo_tareaxdominio
  app/blueprints/tarea.py
  app/models/tarea_model.py
Due: build-image

all sync route, checked bugs, tested
  app/blueprints/full_sync.py
  app/common/sync.py
  app/common/utils.py
  app/config/config.py
  app/controller/full_sync.py
  app/main.py
  app/models/alch_model.py
Due: build-image

rol
  app/decorators/role.py
Due: build-image

1
  app/config/config.py
  app/database_setup.py
  app/decorators/role.py
  app/models/alch_model.py
Due: build-image

acceso-superadmin
  app/common/usher.py
  app/database_setup.py
  app/decorators/role.py
Due: build-image

swagger
  app/main.py
  node_modules/.package-lock.json
  node_modules/@scarf/scarf/LICENSE
  node_modules/@scarf/scarf/README.md
  node_modules/@scarf/scarf/package.json
  node_modules/@scarf/scarf/report.js
  node_modules/swagger-ui-dist/LICENSE
  node_modules/swagger-ui-dist/NOTICE
  node_modules/swagger-ui-dist/README.md
  node_modules/swagger-ui-dist/absolute-path.js
  node_modules/swagger-ui-dist/favicon-16x16.png
  node_modules/swagger-ui-dist/favicon-32x32.png
  node_modules/swagger-ui-dist/index.css
  node_modules/swagger-ui-dist/index.html
  node_modules/swagger-ui-dist/index.js
  node_modules/swagger-ui-dist/log.bundle-sizes.swagger-ui.txt
  node_modules/swagger-ui-dist/log.es-bundle-core-sizes.swagger-ui.txt
  node_modules/swagger-ui-dist/log.es-bundle-sizes.swagger-ui.txt
  node_modules/swagger-ui-dist/oauth2-redirect.html
  node_modules/swagger-ui-dist/package.json
  node_modules/swagger-ui-dist/swagger-initializer.js
  node_modules/swagger-ui-dist/swagger-ui-bundle.js
  node_modules/swagger-ui-dist/swagger-ui-bundle.js.LICENSE.txt
  node_modules/swagger-ui-dist/swagger-ui-bundle.js.map
  node_modules/swagger-ui-dist/swagger-ui-es-bundle-core.js
  node_modules/swagger-ui-dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  node_modules/swagger-ui-dist/swagger-ui-es-bundle-core.js.map
  node_modules/swagger-ui-dist/swagger-ui-es-bundle.js
  node_modules/swagger-ui-dist/swagger-ui-es-bundle.js.LICENSE.txt
  node_modules/swagger-ui-dist/swagger-ui-es-bundle.js.map
  node_modules/swagger-ui-dist/swagger-ui-standalone-preset.js
  node_modules/swagger-ui-dist/swagger-ui-standalone-preset.js.LICENSE.txt
  node_modules/swagger-ui-dist/swagger-ui-standalone-preset.js.map
  node_modules/swagger-ui-dist/swagger-ui.css
  node_modules/swagger-ui-dist/swagger-ui.css.map
  node_modules/swagger-ui-dist/swagger-ui.js
  node_modules/swagger-ui-dist/swagger-ui.js.map
Due: build-image

queue
  app/common/rabbitmq_utils.py
  app/config/config.py
  app/database_setup.py
Due: build-image

big fix
  customization/cm_stage.env
Due: configs-k8s-main

fallback due to network conf missing in google
  customization/cm_stage.env
  customization/stage.env.enc
Due: configs-k8s-main

prep for fix prod
  customization/cm_production.env
  customization/production.env.enc
Due: configs-k8s-main

post-tarea
  app/blueprints/tarea.py
  app/models/alch_model.py
  app/models/tarea_model.py
Due: build-image

insert-tarea
  app/models/tarea_model.py
Due: build-image

fix Config bug
  app/decorators/role.py
Due: build-image

forcebuild
  app/decorators/role.py
Due: build-image

sync
  app/common/sync.py
Due: build-image
